# DO NOT REMOVE.
PassengerAppRoot "ROOT_PATH_HERE"
PassengerBaseURI "/"
PassengerPython "/VIRTUAL_ENV_PATH_HERE//3.7/bin/python3.7"
# DO NOT REMOVE. 
# DO NOT REMOVE OR MODIFY.
<IfModule Litespeed>
</IfModule>
