<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Farjaal Ahmad">
    <meta name="description" content="A TikTok Downloader which download video with watermark, without watermark and video's Audio. Coded by Farjaal Ahmad.">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>TikTok Downloader</title>
  </head>
  <body>
    <div class="container">
      <nav class="text-center">
        <h1>TikTok Downloader</h1>
      </nav>
      <div class="">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Without WaterMark
            <a class="btn btn-primary btn-lg" target="_blank" href="{{ watermark }}" role="button" aria-expanded="false">Download</a>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            With WaterMark Video
            <a class="btn btn-primary btn-lg" target="_blank" href="{{ without_watermark }}" role="button" aria-expanded="false">Download</a>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Audio
            <a class="btn btn-primary btn-lg" href="{{ audio }}" role="button" aria-expanded="false">Download</a>
          </li>
          <li class="list-group-item d-flex">
            <p class="text-center text-info m-auto" style="text-align: center !important;"><a class="list-group-item d-flex" href="{% url 'home' %}" aria-expanded="false">
              Back to Home
            </a></p>
          </li>
        </ul>
      </div>
    </div>

    <footer class="text-muted">
      <div class="container text-center">
        <p>Created by <a href="https://facebook.com/farjaalahmad0" target="_blank">Farjaal Ahmad </a>- {% now "Y" %}</p>
      </div>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
